$borderColor: #c8c8c8;
$mainBackgroundColor: #fafafa; // うすい灰色
$breadcrumbColor: #4589b5;
$searchTabColor: #EEEEEE; // うすい灰色
$searchTagColor: #fb8c00;
$searchSidebarColor: #A0522D;
$searchSidebarListColor: #D3D3D3;
$searchSidebarTitleColor: #6c5651;
$searchSidebarListItemColor: #1E90FF; // 青系の色
$rankingHeaderColor: #f4f3f2;
$productsLikeBackgroundColor: #DC143C;
$productsPriceInfoColor: #B3B3B3;
$inputBorderColor: #ccc;
