$borderColor: #c8c8c8;
$mainBackgroundColor: #fafafa;
$breadcrumbColor: #4589b5;
$searchTabColor: #EEEEEE;
$searchTagColor: #fb8c00;
$searchSidebarColor: #A0522D;
$searchSidebarListColor: #D3D3D3;
$searchSidebarTitleColor: #6c5651;
$searchSidebarListItemColor: #1E90FF;
