$menuHeaderBarHeight: 30px;
$maxWidth: 1200px;
$logoMaxWidth: 260px;
$listItemWidth: 384px;
$bookmarkItemSize: 32px;
$headerFontSize: 16px;
$serchCategoryWidth: 168px;
$serchWindowWidth: 540px;
$headerHeightSize: 40px;
$breadcrumbSize: 12px;
$tagFontSize: 12px;
$searchSidebarMarginTopSize: 10px;
$searchResultProductLikeSize: 25px;
$searchResultRankSize: 32px;
$searchResultFontsize: 12px;
