
.mouse-hover {
  @include hover();
}

.fa {
  color: black;
}

.group-info-banner {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  height: $menuHeaderBarHeight;
  background-color: $mainBackgroundColor;
  border-bottom: 1px solid $borderColor;
  z-index: 1;
}

.category-nav {
  border-bottom: 1px solid $borderColor;
  .category-bar {
    &__list {
      max-width: $maxWidth;
      margin: 0 auto;
      display: flex;
      &__item {
        text-align: center;
        padding:0 10px;
        height: 50px;
        display: flex;
        align-items: center;
        a {
          @include link();
        }
      }
    }
  }
}

.m-page {
  background-color: $mainBackgroundColor;
  &__content {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 40px;
    &__section {
      &__header {
        h2 {
          text-align: center;
          font-size: 24px;
        }
      }
      &__content {
        padding-top: 16px;
        &__list {
          display: flex;
          justify-content: space-between;
          .m-page__content__section__content__item {
            width: $listItemWidth;
            border: 1px solid $borderColor;
            &__body {
              display: flex;
              text-decoration: none;
              color: black;
              background-color: white;
              padding: 10px;
              &__image {
                height: 96px;
                width: 96px;
                margin-right: 10px;
              }
              &__content {
                &__title {
                  font-weight: bold;
                }
                &__description {
                  font-size: 14px;
                  padding-top: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.m-footer {
  background-color: $mainBackgroundColor;
  &__app {
    height: 340px;
    .m-footer__app-image {
      width: 100%;
      height: 100%;
    }
  }
  &__nav {
    max-width: $maxWidth;
    margin: 0 auto;
    .m-footer__nav__sitemap {
      padding: 40px;
      display: flex;
      &__content {
        width: 20%;
        padding-right: 24px;
        &__header {
          font-weight: bold;
          margin-bottom: 12px;
        }
        &__list {
          &__item {
            margin-bottom: 12px;
            height: 24px;
            .sns__account {
              text-decoration: none;
              display: flex;
              align-items: center;
              &__image {
                @include sns__image__size();
                margin-right: 10px;
              }
              &__name {
                @include link();
              }
            }
          }
        }
      }
      .sitemap__help-guide {
        width: 40%;
      }
    }
  }
}

