%nav.category-nav
  .category-bar
    %ul.category-bar__list
      %li.category-bar__list__item
        すべてのカテゴリー
      %li.category-bar__list__item
        ランキングからさがす
      %li.category-bar__list__item
        = link_to "特集からさがす", root_path
      %li.category-bar__list__item
        = link_to "素材をさがす", root_path
      %li.category-bar__list__item
        = link_to "食べ物をさがす", root_path
