@mixin dot-backgroud() {
  background-color: $searchTabColor;
  background-image: radial-gradient($searchSidebarColor 20%, transparent 0), radial-gradient($searchSidebarColor 20%, transparent 0);
  background-position: 0 0, 10px 10px;
  background-size: 4px 4px;
}